/* =========================
   1. Spoqa Han Sans Neo 폰트 설정
   ========================= */
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 200;
    font-style: normal;
    src: url('/src/assets/fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    font-style: normal;
    src: url('/src/assets/fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    font-style: normal;
    src: url('/src/assets/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    font-style: normal;
    src: url('/src/assets/fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 600;
    font-style: normal;
    src: url('/src/assets/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('/src/assets/fonts/NotoSansKR-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* =========================
   2. 기본 전역 스타일
   ========================= */
* {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-weight: 300;
    /* 기본 두께 (얇지 않게) */
}


body {
    margin: 0;
    background: white;
    text-align: center;
    color: black;
    font-size: 14px;
}

body.dark-mode {
    background: #1a1a1a;
    color: #f0f0f0;
}

.dark-mode .layout,
.dark-mode .header,
.dark-mode .header-logo,
.dark-mode .header-logo a,
.dark-mode .sidebar,
.dark-mode .main-title,
.dark-mode .menu,
.dark-mode .menu-close {
    color: white;
    background-color: #1a1a1a;
}

.dark-mode .sidebar a,
.dark-mode .sidebar a[disabled],
.dark-mode .menu a,
.dark-mode .menu a[disabled] {
    color: rgb(150, 150, 150);
}

.dark-mode .sidebar a.active,
.dark-mode .menu a.active {
    color: white
}

/* =========================
   3. 메인 타이틀
   ========================= */
.layout {
    display: flex;
}

/* 상단 타이틀 바 */
.header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    letter-spacing: 0.15em;
}

.header-logo a {
    font-size: 36px;
    font-weight: 500;
}


/* 본문 */
.content {
    margin-top: 80px;
    margin-left: 220px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /* background-color: rgba(172, 255, 47, 0.541); */
    box-sizing: border-box;
}

.text-container {
    margin-top: 80px;
    margin-left: 0;
    max-width: 800px;
    
    text-align: left;
    padding: 0px 20px;

    /* background-color: rgba(172, 255, 47, 0.541); */
    box-sizing: border-box;
}

.image-container {
    max-width: 800px;
    margin-bottom: 50px;
}

.image-container img {
    width: 100%;
    height: auto;
    /* 높이 자동 조절 */
    object-fit: contain;
    /* 이미지 비율 유지하면서 맞춤 */
    align-content: center;
    display: block;
    margin: 0 auto;
}

.main-title {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.project-info {
    max-width: 800px;
    padding: 20px 0px;
    margin: 0 auto;
    text-align: left;
}

.project-title {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 6px;
}

.project-details {
    font-size: 13px;
    font-weight: 300;
    /* 연도, 크기, 재료 크기 줄임 */
    color: #555;
    line-height: 1.6;
}

.project-description {
    font-size: 14px;
    color: #000;
    margin-top: 50px;
    line-height: 1.8;
}

.main-container {
    max-width: 800px;
    margin-bottom: 80px;
}

.main-container img {
    width: 100%;
    height: auto;
    /* 높이 자동 조절 */
    object-fit: contain;
    /* 이미지 비율 유지하면서 맞춤 */
    align-content: center;
    display: block;
    margin: 0 auto;
}

.main-descript {
    font-size: 12px;
    font-weight: 300;
    color: #000;
    text-align: left;
}

.main-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-container {
    max-width: 800px;
    margin-bottom: 80px;
    text-align: left;
}

.work-container img {
    width: 100%;
    height: auto;
    /* 높이 자동 조절 */
    object-fit: contain;
    /* 이미지 비율 유지하면서 맞춤 */
    align-content: center;
    display: block;
    margin: 0 auto;
}

.work-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* =========================
   4. 메뉴 & 링크
   ========================= */


/* 사이드바 (데스크탑) */
.sidebar {
    position: fixed;
    top: 80px;
    width: 220px;
    padding: 12px 0px;
    text-align: left;
    font-size: 16px;
    /* background-color: rgba(255, 192, 203, 0.568); */
}

.sidebar a {
    padding: 6px 16px;
    text-decoration: none;
    color: rgb(150, 150, 150);
    display: block;
    font-weight: 300;
}

.sidebar a[disabled] {
    pointer-events: none;
    color: rgb(170, 170, 170);
}




a {
    color: black;
    /* 링크 색상 검은색으로 변경 */
    text-decoration: none;
    font-weight: 400;
    /* Regular */
}

a:hover {
    text-decoration: underline;
}

.video-thumbnail {
    max-width: 800px;
    margin-bottom: 50px;
}

.video-thumbnail img {
    width: 100%;
    height: auto;
    /* 높이 자동 조절 */
    object-fit: contain;
    /* 이미지 비율 유지하면서 맞춤 */
    align-content: center;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

/* 동영상 스타일 */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 비율 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.year {
    font-size: 18px;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.separator {
    margin: 30px 0;
    text-align: center;
}

.credits {
    font-size: 16px;
}

.about {
    font-weight: 400;
    font-size: 14px;
    padding: 224px 40px;
    text-align: left;
    line-height: 35px;

}

.contact {
    font-weight: 400;
    font-size: 14px;
    padding: 260px 40px;
    text-align: left;
    line-height: 20px;

    display: flex;
    flex-direction: column;
    gap: 36px;
}

/* 이메일 & 인스타 사이 여백 조정 */
.contact-instagram {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact-instagram a {
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    letter-spacing: normal;
    padding-top: 6px;
}

.cv {
    padding: 104px 20px;
    text-align: left;
}

.cv-name {
    padding: 40px 10px 60px;
    font-size: 16px;
    font-weight: 500;
}

.cv-text {
    font-size: 13px;
    font-weight: 400;
    padding-top: 6px;
}

.cv-section {
    padding: 10px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cv-year {
    font-weight: 600;
    font-size: 13px;
    padding: 20px 10px 20px;
    text-transform: none;
    letter-spacing: 0px;
}

.cv-item {
    padding: 5px 10px 10px;
    font-weight: 500;
    font-size: 13px;
}

.cv-detail {
    font-weight: 400;
    font-size: 13px;
}

.menu-toggle {
    display: none;
}

/* =========================
   6. 반응형 (모바일)
   ========================= */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .layout {
        display: block;
    }

    .header {
        height: 64px;
    }

    .header-logo a {
        font-size: 13px;
    }

    .content {
        margin-top: 0px;
        display: block;
        margin-left: 0;
        padding: 64px 20px;
    }

    .text-container {
        margin-top: 0px;
        display: block;
        margin-left: 0;
        padding: 60px 15px;
    }

    .project-info {
        width: auto;
        padding: 20px 15px 80px;
    }

    .menu-overlay {
        position: fixed;
        width: 100%;
        background: white;
        display: flex;
        padding-top: 190px;
        padding-left: 20px;
        z-index: 9999;

        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
    }

    .menu-overlay.active {
        opacity: 1;
        visibility: visible;
    }

    .menu {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        gap: 36px;
    }

    .menu a {
        color: black;
        font-size: 22px;
        font-weight: 400;
        text-decoration: none;
        text-align: left;
        text-transform: uppercase;
    }
    
    .menu-toggle {
        display:contents;
        position: fixed;
        right: 12px;
        z-index: 10000;

        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }

    p {
        font-size: 16px;
        line-height: 1.8;
    }

    .description {
        font-size: 16px;
        line-height: 1.6;
    }

    .credits {
        font-size: 14px;
    }

    .video-thumbnail {
        padding: 0px 20px;
    }
}




/* =========================
   7. Contact 페이지용 폰트 굵기 클래스
   ========================= */
.bold {
    font-weight: 600;
}

.semi-bold {
    font-weight: 400;
}