<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes - JIEUN KIM</title>
    <link rel="stylesheet" href="../styles/style.css"> <!-- CSS 파일 링크 -->
</head>

<body>
    <div class="layout">

        <div id="header"></div>
        <div id="sidebar"></div>
        <div id="menu"></div>

        <main class="text-container">

        </main>
    </div>

    <!-- 스크립트 -->
    <script src="../js/common.js"></script>
</body>

</html>