<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TREE FOR TREES</title>
    <link rel="stylesheet" href="../styles/style.css"> <!-- CSS 파일 링크 -->
</head>

<body>
    <div class="layout">

        <div id="header"></div>
        <div id="sidebar"></div>
        <div id="menu"></div>

        <!-- 본문 -->
        <main class="content">

            <!-- 이미지 목록 -->
            <div class="image-container"><img src="images/real2_1.jpg" alt="real2_1"></div>
            <div class="image-container"><img src="images/real2_2.jpg" alt="real2_2"></div>
            <div class="image-container"><img src="images/real2_3.jpg" alt="real2_3"></div>
            <div class="image-container"><img src="images/real2_4.jpg" alt="real2_4"></div>
            <div class="image-container"><img src="images/real2_5.jpg" alt="real2_5"></div>
            <div class="image-container"><img src="images/real2_6.jpg" alt="real2_6"></div>
            <div class="image-container"><img src="images/real2_7.jpg" alt="real2_7"></div>
            <div class="image-container"><img src="images/real2_8.jpg" alt="real2_8"></div>
            <div class="image-container"><img src="images/real2_9.jpg" alt="real2_9"></div>
            <div class="image-container"><img src="images/real2_10.jpg" alt="real2_10"></div>
            <div class="image-container"><img src="images/real2_11.jpg" alt="real2_11">
                <!-- 프로젝트 정보 -->
                <div class="project-info">
                    <div class="project-title">TREE FOR TREES</div>
                    <div class="project-details">
                        2025<br>
                        45(W) × 193(H) × 60(D) cm<br>
                        Leftover wood<br>
                    </div>
                    <div class="project-description">
                        I carefully selected, gathered, cut, and assembled<br>
                        fragments of old furniture that once filled the shelves of the studio.<br><br>
    
                        Among the offcuts of various thicknesses and sizes<br>
                        that emerge during the working process,<br>
                        the thin and small pieces became intricate details,<br>
                        drawing the viewer in for a closer look.<br><br>
    
                        Wood scraps, waiting for another use,<br>
                        take on the form of a tree once again,<br>
                        suggesting the potential to become something else.<br><br>
    
                        -<br>
                        I designed and crafted this project during my internship at Piet Hein Eek,<br>
                        using materials from the studio.<br>
                    </div>
                </div>
            </div>

        </main>
    </div>

    <!-- 스크립트 -->
    <script src="../js/common.js"></script>
</body>

</html>