<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unreal - JIEUN KIM</title>
    <link rel="stylesheet" href="../styles/style.css"> <!-- CSS 파일 링크 -->
</head>

<body class="dark-mode">
    <div class="layout">

        <div id="header"></div>
        <div id="sidebar"></div>
        <div id="menu"></div>

        <main class="content">

            <br>
            <br>
            
            <div class="video-thumbnail">
                <a href="video1.html" class="project-link" style="text-decoration: none;">
                    <img src="images/image1.jpg" alt="UnReal 1">
                    <div class="main-title">Everyone’s Aliens to Someone, 2024</div>
                </a>
            </div>

            <div class="video-thumbnail">
                <a href="video2.html" class="project-link" style="text-decoration: none;">
                    <img src="images/image2.jpg" alt="UnReal 2">
                    <div class="main-title">DDW Duo 24, 2024</div>
                </a>
            </div>

        </main>
    </div>

    <!-- 스크립트 -->
    <script src="../js/common.js"></script>
</body>

</html>