<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDW Duo 24</title>
    <link rel="stylesheet" href="../styles/style.css"> <!-- CSS 파일 링크 -->
</head>

<body class="dark-mode">
    <div class="layout">

        <div id="header"></div>
        <div id="sidebar"></div>
        <div id="menu"></div>

        <main class="text-container">

            <!-- 제목 -->
            <div class="project-title">DDW Duo 24</div>
            <div class="year">2024</div>

            <!-- Vimeo Video -->
            <div class="video-wrapper">
                <iframe
                    src="https://player.vimeo.com/video/1020820962?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
                    title="Everyone’s Aliens to Someone"></iframe>
            </div>

            <!-- Description Text -->
            <div class="description">
                <p>A promotional video for the duo exhibition "Forest Reverie," during Dutch Design Week (October
                    19th -
                    27th, 2024)</p>
            </div>
            <br>
            <br>
            <br>
            <!-- 구분선 -->
            <p>-</p>
            <!-- 크레딧 -->
            <div class="credits">
                Music: <i>Echo Sax No.4</i> by Caleb Arredondo</p>
            </div>
        </main>
    </div>


    <!-- 스크립트 -->
    <script src="../js/common.js"></script>
</body>

</html>