<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAPER LAMP Ⅱ</title>
    <link rel="stylesheet" href="/src/styles/style.css">
</head>

<body>
    <div class="layout">

        <div id="header"></div>
        <div id="sidebar"></div>
        <div id="menu"></div>

        <!-- 본문 -->
        <main class="content">
            <!-- 첫 번째 이미지 -->
            <div class="image-container">
                <img src="/src/assets/images/project6_8.jpg" alt="PAPER LAMP Ⅱ 1">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project6_7.jpg" alt="PAPER LAMP Ⅱ 2">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project6_5.jpg" alt="PAPER LAMP Ⅱ 5">

                <!-- 프로젝트 정보 -->
            <div class="project-info">
                <div class="project-title">PAPER LAMP Ⅱ</div>
                <div class="project-details">
                    2024<br>
                    13(W) × 31(H) × 10(D) cm<br>
                    metal wire, newspaper, shellac
                </div>
                <div class="project-description">

                </div>
            </div>
            </div>

            

        </main>
    </div>
    <!-- 스크립트 -->
    <script src="/src/js/common.js"></script>
</body>

</html>