<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABANGTAKJA IN PAPER</title>
    <link rel="stylesheet" href="/src/styles/style.css">
</head>

<body>
    <div class="layout">

        <div id="header"></div>
        <div id="sidebar"></div>
        <div id="menu"></div>

        <!-- 본문 -->
        <main class="content">
            <!-- 첫 번째 이미지 -->
            <div class="image-container">
                <img src="/src/assets/images/project11_21.jpg" alt="SABANGTAKJA IN PAPER 1">
            </div>
                        <div class="image-container">
                <img src="/src/assets/images/project11_41.jpg" alt="SABANGTAKJA IN PAPER 1">
            </div>
                        <div class="image-container">
                <img src="/src/assets/images/project11_51.jpg" alt="SABANGTAKJA IN PAPER 1">
            </div>
                        <div class="image-container">
                <img src="/src/assets/images/project11_61.jpg" alt="SABANGTAKJA IN PAPER 1">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project11_31.jpg" alt="ISABANGTAKJA IN PAPER 3">
            </div>
                <!-- 프로젝트 정보 -->
                <div class="project-info">
                    <div class="project-title">SABANGTAKJA IN PAPER</div>
                    <div class="project-details">
                        2025<br>
                        23(W) × 135(H) × 23(D) cm<br>
                        Egg carton, natural glue, linen, ottchil(Korean lacquer)<br>
                    </div>
                    <div class="project-description">
                        I reimagined the Korean sabangtakja, a wooden display shelf made with precise joinery. I was
                        drawn
                        to
                        exploring how its balanced form could exist in paper alone, wanting to see how fragility might
                        become
                        quiet strength. Shaping discarded paper by hand, I felt a deep sense of care and intimacy,
                        discovering
                        how something seemingly weak can quietly support weight when treated patiently. Through lacquer
                        and
                        layered construction, this attentive, hands-on process transformed fragile materials into a new
                        structure that is both delicate and self-standing.
                        <br>
                    </div>
                </div>
            </div>



        </main>
    </div>
    <!-- 스크립트 -->
    <script src="/src/js/common.js"></script>
</body>

</html>
