<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVISIBLE DEATH PROJECT</title>
    <link rel="stylesheet" href="/src/styles/style.css">
</head>

<body>
    <div class="layout">

        <div id="header"></div>
        <div id="sidebar"></div>
        <div id="menu"></div>

        <!-- 본문 -->
        <main class="content">
            <!-- 첫 번째 이미지 -->
            <div class="image-container">
                <img src="/src/assets/images/project1_1.jpg" alt="INVISIBLE DEATH 1">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_2.jpg" alt="INVISIBLE DEATH 2">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_3.jpg" alt="INVISIBLE DEATH 3">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_4.jpg" alt="INVISIBLE DEATH 4">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_5.jpg" alt="INVISIBLE DEATH 5">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_6.jpg" alt="INVISIBLE DEATH 6">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_7.jpg" alt="INVISIBLE DEATH 7">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_8.jpg" alt="INVISIBLE DEATH 8">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_9.jpg" alt="INVISIBLE DEATH 9">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_10.jpg" alt="INVISIBLE DEATH 10">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_11.jpg" alt="INVISIBLE DEATH 11">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_12.jpg" alt="INVISIBLE DEATH 12">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_13.jpg" alt="INVISIBLE DEATH 13">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_14.jpg" alt="INVISIBLE DEATH 14">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_15.jpg" alt="INVISIBLE DEATH 15">
            </div>
            <div class="image-container">
                <img src="/src/assets/images/project1_16.jpg" alt="INVISIBLE DEATH 16">
                <!-- 프로젝트 정보 -->
                <div class="project-info">
                    <div class="project-title">INVISIBLE DEATH PROJECT</div>
                    <div class="project-details">
                        2025<br>
                        waste plastic
                    </div>
                    <div class="project-description">
                        Only a small portion of the plastic we use is recycled, while most ends up in landfills, the
                        ocean,
                        or
                        is incinerated. In particular, microplastics threaten the survival of invisible marine life but
                        we
                        fail
                        to recognize the severity of this issue.

                        This project magnifies radiolarians, microorganisms that play a crucial role in regulating
                        Earth’s
                        climate by storing carbon as they sink to the ocean floor. Using household plastic waste, it
                        emphasizes
                        the water pollution caused by plastic and highlights the ecological importance of these
                        organisms,
                        along
                        with the crisis they face.
                        <br>

                    </div>
                </div>
            </div>

        </main>
    </div>
    <!-- 스크립트 -->
    <script src="/src/js/common.js"></script>
</body>

</html>